<div class="container cssanimation fadeIn sequence">
    <app-popular-news></app-popular-news>
</div>

<div class="container mt-3 cssanimation fadeIn sequence">
    <div class="row">
        <div class="col-lg-5 mt-2 pe-3">
            <app-fast-news></app-fast-news>
            <app-bank-rate></app-bank-rate>
            <!-- <app-opinion></app-opinion> -->
        </div>

        <div class="col-lg-7 mt-2 ps-3">
            <app-top-ea></app-top-ea>
            <app-chart-fed></app-chart-fed>
            <app-home-cot-data></app-home-cot-data>
        </div>
    </div>
</div>
