<div class="container pt-3 cssanimation fadeIn sequence">
    <app-popular-news></app-popular-news>
</div>

<div class="container mt-3 cssanimation fadeIn sequence">
    <div class="row">
        <div class="col-lg-4 mt-2 pe-3">
            <app-top-ea></app-top-ea>
            <app-fast-news></app-fast-news>
            <app-bank-rate></app-bank-rate>
            <app-opinion></app-opinion>
        </div>

        <div class="col-lg-8 mt-2 ps-3">
            <app-chart-fed></app-chart-fed>
            <app-chart-cot></app-chart-cot>
        </div>
    </div>
</div>