<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 TradingViet</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-twitter fs-5"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/tradingvietdotcom"><i class="fab fa-facebook-square fs-5"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/tradingviet/"><i class="fab fa-instagram fs-5"></i></a></li>
        </ul>
    </footer>
</div>