<div id="ea-news" class="">
    <h2 class="fs-4 py-2">
        <i class="fas fa-chart-line"></i> Phân tích báo cáo COT - CFTC
        <span class="fs-8 fw-lighter">Cập nhật trực tiếp báo cáo COT - CFTC cho thị trường vàng và ngoại tệ</span>
    </h2>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT - USD</h3>
            <div style="text-align:center">
                <div id="chartCOTUSD"></div>
            </div>
        </div>
        <div class="col-lg-12">
            <div style="text-align:center">
                <div id="chartGoldOptions"></div>
            </div>
        </div>
        <div class="col-lg-12">
            <div style="text-align:center">
                <div id="chartCOTVIX"></div>
            </div>
        </div>
    </div>
</div>