<div id="fast-news" class="">
    <h2 class="fs-4 py-2">
        <i class="far fa-paper-plane"></i> <span class="ms-2">Tin tức cập nhật</span><br>
        <div class="mt-2">
            <span class="fs-8 fw-lighter">Cập nhật, phân tích các tin tức trực tiếp ảnh hưởng tới thị trường Vàng, ngoại
                tệ,...</span>
        </div>
    </h2>
    <div class="content-new">
        <ul>
            <li (click)="item.deleted = !item.deleted" class="py-2 {{i + 1 < datas.length?'border-bottom':''}}"
                *ngFor="let item of datas;index as i">
                <h2 class="{{item.deleted?'text-primary':''}} fs-7 lh-lg m-0 p-0 fw-bold text-primary-emphasis"><i
                        class="far fa-bell me-2"></i>{{item.title}}</h2>
                <span class="{{item.deleted?'text-primary':''}} m-0 p-0 fs-8">{{item.created_at | date:'dd/M/YYYY
                    HH:mm'}}</span>
                <p class="mt-1 fw-light" *ngIf="!item.deleted" [innerText]="SetString(item.descrip)"></p>
                <p class="mt-1 fw-normal text-primary" *ngIf="item.deleted" [innerText]="item.descrip"></p>
            </li>
        </ul>
    </div>
</div>
