<div id="fast-news">
    <h2 class="fs-4">Tin tức cập nhật</h2>
    <div class="content-new">
        <ul>
            <li class="mt-2 mb-2" *ngFor="let item of fast_news">
                <h2 class="fs-6 lh-lg m-0 p-0 text-justify fw-semibold"><i class="far fa-bell me-2"></i>{{item.title | slice:0:80}}{{item.title.length>80?'...':''}}</h2>
                <span class="m-0 p-0 fw-light">{{item.time | date:'dd/M/YYYY HH:mm'}}: <span class="text-justify">{{item.content | slice:0:160}}{{item.content.length>160?'...':''}}</span></span>
                <p class="p-0 m-0 "></p>
            </li>
        </ul>
    </div>
</div>