<div id="ea-news" class="">
    <h2 class="fs-4 py-2">
        <i class="fas fa-chart-line"></i> Phân tích báo cáo COT - CFTC
        <span class="fs-8 fw-lighter">Cập nhật trực tiếp báo cáo COT - CFTC cho thị trường vàng và ngoại tệ</span>
    </h2>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT - USD</h3>
            <div style="text-align:center">
                <apx-chart [series]="chartUSDOptions.series" [chart]="chartUSDOptions.chart" [xaxis]="chartUSDOptions.xaxis" [yaxis]="chartUSDOptions.yaxis" [title]="chartUSDOptions.title" [stroke]="chartUSDOptions.strock" [dataLabels]="chartUSDOptions.dataLabels" [legend]="chartUSDOptions.legend"></apx-chart>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT - Vàng</h3>
            <div id="chart" style="text-align:center">
                <apx-chart [series]="chartGoldOptions.series" [chart]="chartGoldOptions.chart" [xaxis]="chartGoldOptions.xaxis" [yaxis]="chartGoldOptions.yaxis" [title]="chartGoldOptions.title" [stroke]="chartGoldOptions.strock" [dataLabels]="chartGoldOptions.dataLabels"
                    [legend]="chartGoldOptions.legend"></apx-chart>
            </div>
        </div>
       
        <div class="col-lg-6">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT FX so với USD</h3>
            <div style="text-align:center">
                <apx-chart [series]="chartUsdWithOthers.series" [chart]="chartUsdWithOthers.chart" [xaxis]="chartUsdWithOthers.xaxis" [yaxis]="chartUsdWithOthers.yaxis" [title]="chartUsdWithOthers.title" [stroke]="chartUsdWithOthers.strock" [dataLabels]="chartUsdWithOthers.dataLabels"
                    [legend]="chartUsdWithOthers.legend"></apx-chart>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT - EUR</h3>
            <div style="text-align:center">
                <apx-chart [series]="chartCOTEUR.series" [chart]="chartCOTEUR.chart" [xaxis]="chartCOTEUR.xaxis" [yaxis]="chartCOTEUR.yaxis" [title]="chartCOTEUR.title" [stroke]="chartCOTEUR.strock" [dataLabels]="chartCOTEUR.dataLabels" [legend]="chartCOTEUR.legend"></apx-chart>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT - GBP</h3>
            <div style="text-align:center">
                <apx-chart [series]="chartCOTGBP.series" [chart]="chartCOTGBP.chart" [xaxis]="chartCOTGBP.xaxis" [yaxis]="chartCOTGBP.yaxis" [title]="chartCOTGBP.title" [stroke]="chartCOTGBP.strock" [dataLabels]="chartCOTGBP.dataLabels" [legend]="chartCOTGBP.legend"></apx-chart>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT - AUD</h3>
            <div style="text-align:center">
                <apx-chart [series]="chartCOTAUD.series" [chart]="chartCOTAUD.chart" [xaxis]="chartCOTAUD.xaxis" [yaxis]="chartCOTAUD.yaxis" [title]="chartCOTAUD.title" [stroke]="chartCOTAUD.strock" [dataLabels]="chartCOTAUD.dataLabels" [legend]="chartCOTAUD.legend"></apx-chart>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT - JPY</h3>
            <div style="text-align:center">
                <apx-chart [series]="chartCOTJPY.series" [chart]="chartCOTJPY.chart" [xaxis]="chartCOTJPY.xaxis" [yaxis]="chartCOTJPY.yaxis" [title]="chartCOTJPY.title" [stroke]="chartCOTJPY.strock" [dataLabels]="chartCOTJPY.dataLabels" [legend]="chartCOTJPY.legend"></apx-chart>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT - CAD</h3>
            <div style="text-align:center">
                <apx-chart [series]="chartCOTCAD.series" [chart]="chartCOTCAD.chart" [xaxis]="chartCOTCAD.xaxis" [yaxis]="chartCOTCAD.yaxis" [title]="chartCOTCAD.title" [stroke]="chartCOTCAD.strock" [dataLabels]="chartCOTCAD.dataLabels" [legend]="chartCOTCAD.legend"></apx-chart>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="fs-6 fw-normal text-dark">Báo cáo COT - CHF</h3>
            <div style="text-align:center">
                <apx-chart [series]="chartCOTCHF.series" [chart]="chartCOTCHF.chart" [xaxis]="chartCOTCHF.xaxis" [yaxis]="chartCOTCHF.yaxis" [title]="chartCOTCHF.title" [stroke]="chartCOTCHF.strock" [dataLabels]="chartCOTCHF.dataLabels" [legend]="chartCOTCHF.legend"></apx-chart>
            </div>
        </div>
    </div>
</div>