<div id="ea-news" class="">
    <h2 class="fs-4 py-2">
        <i class="fas fa-chart-line"></i> Phân tích tâm lý thị trường
        <span class="fs-8 fw-lighter">Cập nhật trực tiếp báo cáo COT - CFTC cho thị trường vàng và ngoại tệ</span>
    </h2>
    <div class="row">
        <div class="col-lg-12">
            <!-- <div id="chart" style="text-align:center">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title" [stroke]="chartOptions.strock" [dataLabels]="chartOptions.dataLabels"></apx-chart>
            </div> -->
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <apx-chart [series]="usd_series" [chart]="usd_chart" [xaxis]="usd_xaxis" [yaxis]="usd_yaxis" [title]="usd_title" [stroke]="usd_strock" [dataLabels]="usd_dataLabels"></apx-chart>
            </div>
        </div>
        <!-- <div class="col-lg-6">
            <div style="text-align:center">
                <apx-chart [series]="series" [chart]="chart" [xaxis]="xaxis" [yaxis]="yaxis" [title]="title" [stroke]="strock" [dataLabels]="dataLabels"></apx-chart>
            </div>
        </div> -->
    </div>
</div>