<div id="ea-news" class="">
    <h2 class="fs-4 py-2">
        <i class="fas fa-chart-line"></i> Phân tích báo cáo COT - CFTC
        <span class="fs-8 fw-lighter">Cập nhật trực tiếp báo cáo COT - CFTC cho thị trường vàng và ngoại tệ</span>
    </h2>
    <div class="row">
        <span class="fs-6 fw-bold text-dark mb-2">Cập nhật: {{time_update}}</span>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartCOTUSD"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartGoldOptions"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartCOTVIX"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartCOTGBP"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartCOTAUD"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartCOTJPY"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartCOTCAD"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartCOTCHF"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartCOTNZD"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="text-align:center">
                <div id="chartCOTEUR"></div>
            </div>
        </div>

    </div>
</div>