<div id="fast-news" class="">

    <h2 class="fs-4 py-2">
        <i class="far fa-grin-stars icon-animation"></i> Ý tưởng xây dựng Robot (Expert Advisor)<br>
        <span class="fs-8 fw-lighter">
            Đóng góp các ý tưởng xây dựng website: Robot, Indicator, thông tin hiển thị trên website
            <br>Chúng tôi sẽ gửi lại mã nguồn và hướng dẫn bạn chạy Robot dựa trên logic của bạn!
        </span>
    </h2>
    <div class="col-md-12 col-lg-12">
        <form class="needs-validation" novalidate>
            <div class="row g-3">
                <div class="col-sm-12">
                    <label for="firstName" class="form-label">Tên của bạn</label>
                    <input type="text" class="form-control" id="yourname" placeholder="Nhập rõ tên của bạn" value="" required>
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>

                <div class="col-sm-12">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="number" class="form-control" id="phone" placeholder="Số điện thoại liên hệ" value="" required>
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Địa chỉ email</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address" class="form-label">Mô tả chi tiết:</label>
                    <textarea class="form-control" placeholder="Nhập rõ mô tả càng chi tiết càng tốt. Đường link driver file mô tả (nếu có)" aria-label="With textarea" id="desc"></textarea>
                    <div class="invalid-feedback">
                        Please enter your mind.
                    </div>
                </div>
            </div>
            <button class="w-100 btn btn-primary mt-2" type="submit">Gửi đi</button>
        </form>
    </div>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="checkout.js"></script>