<div id="fast-news" class="">

    <h2 class="fs-4 py-2">
        <i class="far fa-grin-stars icon-animation"></i> Ý tưởng xây dựng Robot (Expert Advisor)<br>
        <span class="fs-8 fw-lighter">
            Đóng góp các ý tưởng xây dựng website: Robot, Indicator, thông tin hiển thị trên website
            <br>Chúng tôi sẽ gửi lại mã nguồn và hướng dẫn bạn chạy Robot dựa trên logic của bạn!
        </span>
    </h2>
    <div class="col-md-12 col-lg-12">
        <form class="needs-validation" novalidate>
            <div class="row g-3">
                <div class="col-sm-12">
                    <label for="firstName" class="form-label">Tên của bạn</label>
                    <input type="text" class="form-control" id="yourname" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Địa chỉ email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address" class="form-label">Mô tả chi tiết:</label>
                    <textarea class="form-control" aria-label="With textarea" id="desc"></textarea>
                    <div class="invalid-feedback">
                        Please enter your mind.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>
            </div>
            <button class="w-100 btn btn-primary btn-sm mt-2" type="submit">Continue to checkout</button>
        </form>
    </div>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="checkout.js"></script>