<div id="ea-news" class="">

    <h2 class="fs-4 py-2">
        <i class="fas fa-robot"></i>
        Robot giao dịch (Expert Advisor) - <a href="http://" target="_blank" rel="noopener noreferrer">Sàn FXLink</a>
        <br>
        <span class="fs-8 fw-lighter">Tổng hợp các robot giao dịch được TradingViet phát triển và chạy live trên sàn
            giao dịch FxLink!</span>
    </h2>
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <thead>
                <th class="fs-6 fw-normal text-center" scope="col">#</th>
                <th class="fs-6 fw-normal text-center" scope="col">Status</th>
                <th class="fs-6 fw-normal text-start" scope="col">Name</th>
                <th class="fs-6 fw-normal text-end" scope="col">Balance</th>
                <th class="fs-6 fw-normal text-end" scope="col">Equity</th>
                <th class="fs-6 fw-normal text-end" scope="col">Profit</th>
                <th class="fs-6 fw-normal text-end" scope="col">Current</th>
            </thead>
            <tbody>
                <tr class="fs-7 fw-normal" *ngFor="let item of robots;index as i">
                    <td class="text-center {{item.profit>0?'text-success':'text-danger'}}">{{i+1}}</td>
                    <td class="text-center"><span class="p-1 rounded {{item.status?'text-online':'text-offline'}}">{{item.status?'online':'offline'}}</span></td>
                    <td class="text-start {{item.profit>0?'text-success':'text-danger'}}">{{item.name}}</td>
                    <td class="text-end {{item.profit>0?'text-success':'text-danger'}}">{{item.balance}}</td>
                    <td class="text-end {{item.profit>0?'text-success':'text-danger'}}">{{item.equity}}</td>
                    <td class="text-end {{item.profit>0?'text-success':'text-danger'}}">{{item.profit}}</td>
                    <td class="text-end {{item.live_profit>0?'text-success':'text-danger'}}">{{item.live_profit}}</td>
                </tr>
            </tbody>
        </table>
        <p class="fs-7 fw-lighter text-end">Vui lòng liên hệ Telegram @tradingviet để được hỗ trợ</p>
    </div>
</div>
