<div id="ea-news" class="">
    <h2 class="fs-4 py-2">
        <i class="fas fa-chart-line"></i> Dữ liệu Fed-Watch
        <span class="fs-8 fw-lighter">Cập nhật dữ liệu kinh tế nhanh và chính xác nhất</span>
    </h2>
    <h3 class="fs-6 fw-normal text-dark">Biểu đồ Dot-Plot</h3>
    <a href="{{localurl}}/{{image.src}}" target="_blank" rel="noopener noreferrer">
        <img class="w-100" src="{{image.src}}" alt="{{image.title}}">
    </a>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="fs-6 fw-normal text-dark">Thay đổi tỉ lệ đặt cược tăng lãi suất</h3>
            <div style="text-align:center">
                <apx-chart [dataLabels]="chartfed.dataLabels" [series]="chartfed.series" [chart]="chartfed.chart" [xaxis]="chartfed.xaxis" [title]="chartfed.title"></apx-chart>
            </div>
        </div>
    </div>
</div>